/* .App {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 300px;
  height: 420px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}
#other + #other {
  display: none;
}
#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}
.image-upload>input {
  display: none;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
} */
.app-header{
display: flex;
justify-content: center;
height: 150px;
align-items: center;
}
.app-header img{
height: 50px;
}
.app-header > .app-name{
font-size: 30px;
margin: 0 20px;
}

.chat-system{
display: flex;
justify-content: center;
align-items: center;
}
.chat-box{
width: 350px;
background: #fff;
border-radius: 10px;
box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.3);
overflow: hidden;
}

.username-container{
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
padding: 20px;
}
.username-label{
padding: 0;
margin: 10px 0;
}
.input{
border-radius: 5px;
border: 1px solid #eee;
outline: none;
width: 200px;
height: 25px;
font-size: 14px;
box-sizing: border-box;
padding: 10px;
color: #777;
background: #eee;
}
 /* .row+.row{
  display: none !important;
}  */

/* .row + .row{
  display: none !important;
} */  


.online-users-header{
width: 100%;
height: 30px;
background: #e7004c;
color: #fff;
font-weight: 500;
font-size: 18px;
display: flex;
align-items: center;
justify-content: space-between;
}

.users-list{
list-style: none;
padding: 0px;
margin: 0;
max-height: 300px;
}

.users-list li{
padding: 5px 10px;
background: #eee;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
font-size: 14px;
font-weight: 500;
letter-spacing: 1px;
display: flex;
justify-content: space-between;
}

.users-list li .joined-date{
font-size: 10px;
display: inline-block;
margin: 0 10px;
}

.users-list li:hover{
background: rgb(177, 176, 176);
}

.message-area{
height: 250px;
}

.message-control{
display: flex;
}
.message-control textarea{
width: 80%;
border: none;
background: #eee;
resize: none;
outline: none;
font-family: 'KoHo', sans-serif;
box-sizing: border-box;
padding: 5px;
display: inline-block;
}
.message-control button{
display: flex;
flex: 1;
justify-content: flex-end;
outline: none;
border: none;
font-family: 'KoHo', sans-serif;
justify-content: center;
align-items: center;
font-weight: 500;
cursor: pointer;
background: #e7004c;
color: #fff;
}

.new-message-count{
font-size: 10px;
display: inline-block;
background: #e7004c;
width: 15px;
height: 15px;
border-radius: 50%;
text-align: center;
color: #fff;
}

.message-area ul{
padding: 0;
margin: 0;
height: 250px;
overflow-y: scroll;
}
.message-area ul li{
display: flex;
align-items: flex-start;
flex-wrap: wrap;
margin: 10px;
}
.message-area ul .user-pic{
width: 30px;
height: 30px;
background: #eee;
border-radius: 50%;
overflow: hidden;
}

.message-area ul .user-pic img{
max-width: 100%;
max-height: 100%;
object-fit: contain;
}

.message-area ul .message-text{
background: #e7004c;
border-radius: 5px;
color: #fff;
font-size: 13px;
padding: 2px 5px;
box-sizing: border-box;
margin: 0 5px;
max-width: 270px;
}

.file-input-container{
position: relative;
}
.file-input-container input[type="file"]{
position: absolute;
width: 0;
height: 0;
opacity: 0;
}
.file-input-container label{
display: block;
color: #028aff;
padding: 0 10px;
cursor: pointer;
background: #eee;
height: 100%;
display: flex;
align-items: center;
}

.image-container{
background: #eee;
border: 1px solid rgba(0, 0, 0, 0.5);
border-radius: 5px;
margin: 0 5px;
}

.attachement-display{
display: flex;
align-items: center;
box-sizing: border-box;
padding: 5px 10px;
background: #eee;
border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.attachment-name{
font-weight: 600;
font-size: 14px;
display: inline-block;
margin: 0 5px;
}
.remove-attachment{
font-size: 20px;
font-weight: 500;
margin: 0 5px;
cursor: pointer;
color: rgba(0, 0, 0, 0.4);
}
